* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, select {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}

fieldset{
    padding: 5px;
    border-radius: 5px;
}

legend{
    padding: 0px 2px 0px 2px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffa200;
    cursor: pointer;
}

button:hover{
    background-color: #ffa200d5;
}

button:active {
    background-color: #ffa20099;
}