* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.register_form {
    position: relative;
    top: 1rem;
    margin: 0 auto;
    width: 40vw;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset input, fieldset select {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}

fieldset{
    padding: 5px;
    border-radius: 5px;
}

legend{
    padding: 0px 2px 0px 2px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffa200;
    cursor: pointer;
}

button.delete, button.edit{
    border-radius: 0;
    width: 100%;
}

button.delete{
    background-color: #ae0000;
}

button.edit{
    background-color: #0064c8;
}

table {
    width: 100%;
    position: relative;
    top: 5rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

button:hover{
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

table input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
}

table button {
    width: 100%;
    border-radius: 0;
}

