.modal_background  {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    z-index: 1;

    background-color: #0000009D;
}

.modal {
    width: 40vw;
    height: 20rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
}

.modal form{
    display: flex;
    flex-direction: column;
}