.modal_background  {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    z-index: 1;

    background-color: #0000009D;
}

.modal {
    width: 40vw;
    padding: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
}

.modal h2 {
    margin: 1rem 0 1rem 0;
}

.modal form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal form input, .modal form select {
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #0000008C;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content !important;
    padding: 0;
    background: none;
}